p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    color: coral;
}
div.child {
    display: none; 
}


div.parent:hover div.child{
    display: block
}